:root {
  --font-base: 16px; /* ベースフォントサイズ */

  --font-h1: 2rem; /* h1フォントサイズ32px指定 */
  --font-h2: 1.5rem; /* h2フォントサイズ24px指定 */
  --font-body: 1rem; /* 本文（body）のフォントサイズ16px指定 */

  --weight-regular: 400; /* レギュラーウェイト */
  --weight-bold: 700; /* ボールドウェイト */
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-base);
  font-weight: var(--weight-regular);
  line-height: 1.6; /* 行間を1.6倍に設定 */
}

h1 {
  font-size: var(--font-h1);  /* rootからサイズを参照 */
  font-weight: var(--weight-bold); /* rootからウェイトを参照 */
}

h2 {
  font-size: var(--font-h2);  /* rootからサイズを参照 */
  font-weight: var(--weight-bold); /* rootからウェイトを参照 */
}

p {
  font-size: var(--font-body); /* rootからサイズを参照 */
  font-weight: var(--weight-regular); /* rootからウェイトを参照 */
}


.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  display: flex;
  flex-direction: row; /* 横並び */
  width: 100%;
  height: 80px;
  padding: 0 16px;
  align-items: center;
  background: lightblue
}


.header-fixed.is-open {
  /* ヘッダー背景の水色を暗くしたい。
  しかしz-indexの関係で、sp-menuの半透明黒背景に隠れてしまう。
  一番手前にz-indexを設定すると、ヘッダー背景の水色が暗くならない。
  なので、ハンバーガーメニューを開いたとき、ヘッダーの背景をlightblueで再度塗りつつ、
  グラデーション（単色）黒背景を重ねてそれっぽくしてる。*/
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), 
  lightblue;
}

.main-content {
  display: flex; /* コンテンツを横並びにする */
  align-items: flex-start; /* 上揃えにする */
  width: 100%;
  height: 5000px;
  background-color: #f0f0f0;
  padding-top: 80px;
}

.side-container {
  width: 200px;
  height: 100%;
  /* 没_min-height: calc(100vh - 80px); 最小高さを画面縦幅max（100vh）にし、トップのマージン80pxだけ引く */
  background-color: lightgreen;
}

.side-inner {
  position: sticky;
  top: 80px; /* ヘッダーの高さ分80pxだけ下にずらす */

  display: flex; /* figmaで言う、オートレイアウト化 */
  flex-direction: column; /* 縦並び */
  padding: 15px;
  gap: 64px;
}

.menu-list {
  /* リスト間にgapを作るには、flexbox, gridを使用することが必須 */
  display: flex; /* figmaで言う、オートレイアウト化 */
  flex-direction: column; /* 縦並び */
  gap: 16px;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  gap: 128px;
  padding: 16px;
  background-color: lightcoral;
}


.hamburger {
  position: relative;
  display: none; /* デフォルトは非表示 */
  margin-left: auto; /* 右寄せ */
  z-index: 3000;

  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;

  transition: transform 0.25s ease, opacity 0.2s ease; 
}

.hamburger span:nth-child(1) { top: 7px; }
.hamburger span:nth-child(2) { top: 15px; }
.hamburger span:nth-child(3) { top: 23px; }

.hamburger.is-open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.sp-menu {
  position: fixed;
  inset: 0; /* 上下左右0にする */
  background: rgba(0, 0, 0, 0.5); /* 半透明の黒背景 */
  display: none; /* デフォルトは非表示 */
  justify-content: center; /* 中央寄せ */
  align-items: center;
  z-index: 2000; /* ヘッダーより前面に表示 */
}

.sp-menu.is-open {
  display: flex;
}


.sp-menu-list {
  font-size: 32px;
  color : #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


@media (max-width: 767px) {

  /* サイドバーを消す */
  .side-container {
    display: none;
  }

  /* p（一部本文）を消す */
  .pc-only-text {
    display: none;
  }
  
  .hamburger {
    display: block; /* スマホ表示時に表示 */
  }
}